<div class="nav-bar">
    <div class="nav-bar-left">
        <div class="nav-left-content">
            <div><strong>Codeible</strong> </div>
        </div>
    </div>
    <div class="nav-bar-right">
        <div class="nav-right-content">
            <button *ngIf="!loggedIn()" mat-raised-button (click)="onLoginClick()">Login</button>
            <button *ngIf="loggedIn() && userHasProfile" mat-raised-button>Hello,{{userDocument?.publicName}}</button>
            <button *ngIf="loggedIn()" mat-raised-button (click)="onLogoutClick()">LogOut</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
